<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon

        ============================================ -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="shortcut icon" type="~/Content/image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <!-- modals CSS
      ============================================ -->
    <link rel="stylesheet" href="~/Content/css/modals.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@


    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <!-- forms CSS
       ============================================ -->
    <link rel="stylesheet" href="~/Content/css/form/all-type-forms.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <!-- normalize CSS
       ============================================ -->
    <link rel="stylesheet" href="~/Content/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/css/data-table/bootstrap-editable.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- main CSS

        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <!-- chosen CSS
       ============================================ -->
    <link rel="stylesheet" href="~/Content/css/chosen/bootstrap-chosen.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- tabs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/tabs.css">
    <!-- responsive CSS
        ============================================ -->
    <!-- accordions CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/accordions.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    @* <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>*@
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                @*<a href="index.html"><img class="main-logo" src="~/Content/img/logo/logo.png" alt="" /></a>*@
                <strong><img src="~/Content/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li><a title="Landing Page" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="fa fa-bookmark icon-wrap sub-icon-mg" aria-hidden="true"></i> <span class="mini-click-non">Dashboard</span></a></li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa fa-arrow-circle-down"></i> <span class="mini-click-non">&nbsp;Organization</span></a>
                            <ul>
                                <li><a title="Inbox" href="@Url.Action("UserOrganizationSetup", "OrganizationSetup", new { })"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;Organization Setup</span></a></li>

                                <li><a title="Inbox" href="@Url.Action("Branches", "OrganizationSetup", new { })"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;Branches</span></a></li>

                                <li><a title="Inbox" href="@Url.Action("LoginUsers", "OrganizationSetup", new { })"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;System Users</span></a></li>
                                <li><a title="Inbox" href="@Url.Action("DepositSlipSettingList", "OrganizationSetup")"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;Deposit Slip Setting</span></a></li>
                                <li><a title="Inbox" href="@Url.Action("DocumnetNumbringList", "Setup")"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;Document Numbring</span></a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class=""></i> <span class="mini-click-non">&nbsp;</span></a>
                            <ul>

                                <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action()"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;</span></a></li>

                                <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action()"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;</span></a></li>


                                <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action()"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;</span></a></li>

                                <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action()"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;</span></a></li>

                                <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action()"><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="mini-sub-pro">&nbsp;</span></a></li>

                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="~/Content/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                                        <h2 style="padding:10px; color:white"></h2>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-envelope-o adminpro-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn" style="background-color:#43404f">
                                                        <div class="message-single-top">
                                                            <h1>Message</h1>
                                                        </div>
                                                        <ul class="message-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/1.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Advanda Cro</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/4.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Sulaiman din</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/3.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/2.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="message-view">
                                                            <a href="#">View All Messages</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                    <div role="menu" class="notification-author dropdown-menu animated zoomIn" style="background-color:#43404f">
                                                        <div class="notification-single-top">
                                                            <h1>Notifications</h1>
                                                        </div>
                                                        <ul class="notification-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-check adminpro-checked-pro admin-check-pro" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Advanda Cro</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-cloud adminpro-cloud-computing-down" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Sulaiman din</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-eraser adminpro-shield" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-line-chart adminpro-analytics-arrow" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="notification-view">
                                                            <a href="#">View All Notification</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                        <span class="admin-name"></span>
                                                        <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn" style="background-color:#43404f">
                                                        <li>
                                                            <a href="register.html"><span class="fa fa-home author-log-ic"></span>Register</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><span class="fa fa-user author-log-ic"></span>My Profile</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="ChangePassword()"><span class="fa fa-diamond author-log-ic"></span>Change Password</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("UserDefaultSetup", "SystemControl", new {  })"><span class="fa fa-cog author-log-ic"></span>Settings</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Logout", "UserLogin")"><i class="icon-power"></i><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item nav-setting-open">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-tasks"></i></a>
                                                    <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated zoomIn" style="background-color:#43404f">
                                                        <ul class="nav nav-tabs custon-set-tab">
                                                            <li class="active">
                                                                <a data-toggle="tab" href="#Notes">News</a>
                                                            </li>
                                                            <li>
                                                                <a data-toggle="tab" href="#Projects">Activity</a>
                                                            </li>
                                                            <li>
                                                                <a data-toggle="tab" href="#Settings">Settings</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content custom-bdr-nt">
                                                            <div id="Notes" class="tab-pane fade in active">
                                                                <div class="notes-area-wrap">
                                                                    <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-comments-o"></i> Latest News</h2>
                                                                        <p>You have 10 New News.</p>
                                                                    </div>
                                                                    <div class="notes-list-area notes-menu-scrollbar">
                                                                        <ul class="notes-menu-list">
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/4.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/1.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/2.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/3.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/4.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/1.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/2.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/1.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/2.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="notes-list-flow">
                                                                                        <div class="notes-img">
                                                                                            <img src="img/contact/3.jpg" alt="" />
                                                                                        </div>
                                                                                        <div class="notes-content">
                                                                                            <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                            <span>Yesterday 2:45 pm</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="Projects" class="tab-pane fade">
                                                                <div class="projects-settings-wrap">
                                                                    <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-cube"></i> Recent Activity</h2>
                                                                        <p> You have 20 Recent Activity.</p>
                                                                    </div>
                                                                    <div class="project-st-list-area project-st-menu-scrollbar">
                                                                        <ul class="projects-st-menu-list">
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New User Registered</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">1 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order Received</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">2 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order Received</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">3 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order Received</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">4 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New User Registered</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">5 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">6 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New User</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">7 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <div class="project-list-flow">
                                                                                        <div class="projects-st-heading">
                                                                                            <h2>New Order</h2>
                                                                                            <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                            <span class="project-st-time">9 hours ago</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="Settings" class="tab-pane fade">
                                                                <div class="setting-panel-area">
                                                                    <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-gears"></i> Settings Panel</h2>
                                                                        <p> You have 20 Settings. 5 not completed.</p>
                                                                    </div>
                                                                    <ul class="setting-panel-list">
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Show notifications</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                                                                            <label class="onoffswitch-label" for="example">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Disable Chat</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                                                                            <label class="onoffswitch-label" for="example3">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Enable history</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                                                                            <label class="onoffswitch-label" for="example4">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Show charts</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                                                                            <label class="onoffswitch-label" for="example7">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Update everyday</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example2">
                                                                                            <label class="onoffswitch-label" for="example2">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Global search</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example6">
                                                                                            <label class="onoffswitch-label" for="example6">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-setting-pro">
                                                                                <div class="checkbox-title-pro">
                                                                                    <h2>Offline users</h2>
                                                                                    <div class="ts-custom-check">
                                                                                        <div class="onoffswitch">
                                                                                            <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example5">
                                                                                            <label class="onoffswitch-label" for="example5">
                                                                                                <span class="onoffswitch-inner"></span>
                                                                                                <span class="onoffswitch-switch"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li>
                                            <a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="Pagemob" class="collapse dropdown-header-top">
                                                <li><a title="Landing Page" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="fa fa-bookmark icon-wrap sub-icon-mg" aria-hidden="true"></i> <span class="mini-click-non">Dashboard</span></a></li>

                                                <li>
                                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa big-icon fa-inbox icon-wrap"></i> <span class="mini-click-non">Organization</span></a>
                                                    <ul>
                                                        <li><a title="Inbox" href="@Url.Action("UserOrganizationSetup", "OrganizationSetup", new { })"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Organization Setup</span></a></li>

                                                        <li><a title="Inbox" href="@Url.Action("Branches", "OrganizationSetup", new { })"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Branches</span></a></li>

                                                        <li><a title="Inbox" href="@Url.Action("LoginUsers", "OrganizationSetup", new { })"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">System Users</span></a></li>
                                                        <li><a title="Inbox" href="@Url.Action("DepositSlipSettingList", "OrganizationSetup")"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Deposit Slip Setting</span></a></li>
                                                        <li><a title="Inbox" href="@Url.Action("DocumnetNumbringList", "Setup")"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Document Numbring</span></a></li>
                                                    </ul>
                                                </li>


                                                <li>
                                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class=""></i> <span class="mini-click-non"></span></a>
                                                    <ul>


                                                        <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action()"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro"></span></a></li>


                                                        <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action(@*item.Action, item.Controller, new { item.Parm1Value }*@)"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">@*@item.FormDisplayName*@</span></a></li>


                                                        <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action(@*item.Action, item.Controller*@)"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">@*@item.FormDisplayName*@</span></a></li>

                                                        <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action(@*item.Action, item.Controller, new { item.Parm1Value }*@)"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">@*@item.FormDisplayName*@</span></a></li>

                                                        <li><a title="Inbox" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" href="@Url.Action(@*item.Action, item.Controller, new { item.Parm1Value, item.Parm2Value }*@)"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">@*@item.FormDisplayName*@</span></a></li>

                                                    </ul>
                                                </li>

                                                @*<li>
                                                        <a href="login.html">Login</a>
                                                    </li>
                                                    <li>
                                                        <a href="register.html">Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="lock.html">Lock</a>
                                                    </li>
                                                    <li>
                                                        <a href="password-recovery.html">Password Recovery</a>
                                                    </li>*@
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->

            @RenderBody()
        </div>

        @*<div class="footer-copyright-area" style="max-height:30px; padding:5px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-copy-right">
                                <p>Copyright &copy; 2019 <a href="https://colorlib.com/wp/templates/">TechTrack</a> All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- jquery
        ============================================ -->
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    @*<script src="~/Content/js/vendor/jquery-1.11.3.min.js"></script>*@
    <!-- bootstrap JS
        ============================================ -->
    @*<script src="~/Content/js/bootstrap.min.js"></script>*@
    <!-- wow JS
        ============================================ -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Content/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- data table JS
       ============================================ -->
    <script src="~/Content/js/data-table/bootstrap-table.js"></script>
    <script src="~/Content/js/data-table/tableExport.js"></script>
    <script src="~/Content/js/data-table/data-table-active.js"></script>
    <script src="~/Content/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/Content/js/data-table/bootstrap-editable.js"></script>
    <script src="~/Content/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/Content/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/Content/js/data-table/bootstrap-table-export.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Content/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Content/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Content/js/morrisjs/raphael-min.js"></script>
    <script src="~/Content/js/morrisjs/morris.js"></script>
    <script src="~/Content/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Content/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Content/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/Content/js/icheck/icheck.min.js"></script>
    <script src="~/Content/js/icheck/icheck-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/Content/js/calendar/moment.min.js"></script>
    <script src="~/Content/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/js/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/Content/js/tab.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Content/js/main.js"></script>
    <!-- chosen JS
       ============================================ -->
    <script src="~/Content/js/chosen/chosen.jquery.js"></script>
    <script src="~/Content/js/chosen/chosen-active.js"></script>
</body>
</html>
<script type="text/javascript">
    function ChangePassword() {
        $.ajax({
            type: "POST",
            url: "/UserLogin/PartialAddChangePassword",
            data: null,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#lblTitle").html("Change Password");
                $('#modelBody').html(response);
                $("#modelAddEdit").modal('show');
            },
            failure: function (response) {
                toastr.error(response.responseText);
            },
            error: function (response) {
                toastr.error(response.responseText);
            }
        });
    };
    $(document).ready(function () {
        $("#btnSave").click(function () {
            $("#lblMsg").html("");
            var OldPass = $("#txtOldPassword").val();
            var newPass = $("#txtNewPassword").val();
            var ConPass = $("#txtConfPassword").val();
            if (newPass != ConPass) {
                $("#lblMsg").html("Confirm Password does not match");
                $("#lblMsg").css('color', 'red');
                $("#txtConfPassword").focus();
                return;
            }
            $.ajax({
            type: "POST",
                url: "/UserLogin/SaveNewPassword",
                data: '{NewPassword:"' + newPass + '", OldPassword:"' + OldPass + '"}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
                success: function (result) {
                    if (result.Status) {
                        $("#lblMsg").html(result.Message);
                        $("#lblMsg").css('color', 'green');
                        location.href = '@Url.Action("Logout", "UserLogin")'
                    } else {
                        $("#lblMsg").html(result.Message);
                        $("#lblMsg").css('color', 'red');
                    }
              }
         });
        });
        //the below code restrict the user from the inspect element Right click and F12 will be not workig
        //$("#btnCancel").click(function () {
        //    $("#modelAddEdit").modal('hide');
        //});
        //document.onkeypress = function (event) {
        //    event = (event || window.event);
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //}
        //document.onmousedown = function (event) {
        //    event = (event || window.event);
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //}
        //document.onkeydown = function (event) {
        //    event = (event || window.event);
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //}
        //$(document).bind("contextmenu", function (e) {
        //    return false;
        //});
    });
</script>
<div id="modelAddEdit" class="modal modal-adminpro-general fullwidth-popup-InformationproModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-2">
                <h4 class="modal-title" id="lblTitle" style="text-align:left"></h4>
            </div>
            <br />
            <div class="modal-body" id="modelBody" style="text-align:left; padding:0px">

            </div>
            <div class="modal-footer" style="text-align:right">
                <input type="button" style="width:100px" value="Save" class="btn btn-success" id="btnSave" />
                <input type="button" style="width:100px" value="Cancel" data-dismiss="modal" class="btn btn-danger" id="btnCancel" />
            </div>
        </div>
    </div>
</div>
